.simple-theme {
  border-collapse collapse
  border: 1px solid #0b97c4
  table-layout fixed
  white-space nowrap

  thead, tbody {
    display: block;
  }

  thead {
    th {
      box-sizing border-box
      padding 6px
      border-bottom 1px solid #0b97c4
      &:not(:last-of-type) {
        border-right 3px solid #0b97c4
      }

      & > div {
        box-sizing border-box
        overflow hidden
      }
    }
  }

  tbody {
    height: 100px;
    overflow: auto;

    td {
      box-sizing border-box
      padding 6px
      border-bottom 1px solid lightgray
      &:not(:last-of-type) {
        border-right 3px solid #0b97c4
      }

      & > div {
        box-sizing border-box
        overflow hidden
      }
    }
  }
}