.simple-theme {
  border-collapse collapse
  //border: 1px solid #0b97c4

  .header {
    th {
      padding 6px
      border-bottom 1px solid #0b97c4
      &:not(:last-of-type) {
        border-right 1px solid #0b97c4
      }
    }
  }

  .row {
    td {
      padding 6px
      border-bottom 1px solid lightgray
      &:not(:last-of-type) {
        border-right 1px solid #0b97c4
      }
    }
  }
}