<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <div data-sg-group='quiz'>
                    <div class="row">
                        <div class="col-md-8">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4 control-label">Student Name:</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="name" value="{{name}}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Quiz List</h3>
                                </div>
                                <div class="panel-body" data-sg-id='quiz-panel' data-sg-say='load>>quizzes'>
                                    <div data-sg-on="created>>+quizzes"></div>
                                    <div data-sg-on="deleted>>-quizzes(id)"></div>

                                    <div class="alert alert-info" role="alert" data-ng-repeat="quiz in quizzes">
                                        <a data-toggle="collapse" href="#question{{$index}}"
                                           aria-expanded="false" aria-controls="question{{$index}}">
                                            {{quiz.question}}
                                        </a>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                                data-sg-click='delete:{quiz.id}'>
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <div class="collapse" id="question{{$index}}">
                                            <br/>
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="answer-area">Answer Question:</label>
                                    <textarea data-ng-model="answer" id="answer-area"
                                              class="form-control" rows="3"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" class="btn btn-primary"
                                                                    data-sg-click='answer:{answer}'>Confirm
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4" data-sg-group='user'>
        <div class="panel panel-info" data-sg-id='teacher-list' data-sg-on='joinedTeacher>>+teachers'>
            <div class="panel-heading">
                <h3 class="panel-title">Teachers</h3>
            </div>
            <div class="panel-body">
                <div data-ng-repeat="teacher in teachers">
                    {{teacher.name}}
                </div>
            </div>
        </div>

    </div>
</div>